.nav {
  background-color: black; //edit this line to be dynamic
  color: white;

  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  height: 3rem;
  top: 0;
  left: 0;

  &__links {
    display: flex;
    align-items: center;
  }
  &__link {
    padding: 0.5rem;
  }
}
