html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//   color: $primary-dark;
//   background-color: $background-light;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}